{% extends '../layout.html' %} {% block body %}

<style>
    .jumbo {
        background: url('images/wallpaper.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 40px;
    }
    
    .navbar {
        margin-bottom: 0px;
    }
</style>

<div class="text-center jumbo">
    <div class="container">
        <img src="./images/logo.png" width="50%" alt="">
        <p>
            <a href="/auth/register" class="btn btn-primary btn-lg">Inscription</a>
            <a href="/try" class="btn btn-default btn-lg">Try it !</a>
        </p>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">Video stream</div>
                <div class="panel-body">
                    <i class="fa fa-video-camera fa-4x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">File transfert</div>
                <div class="panel-body">
                    <i class="fa fa-upload fa-4x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">Facebook connect</div>
                <div class="panel-body">
                    <i class="fa fa-facebook-official fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}